.float-cart.home{
  top: 0px;
  position: fixed;
  width: 420px;
  right: -420px;
  z-index: 11;
}

.float-cart {
  top: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: right 0.2s;
  z-index: -1;

  &__footer-container{
    .item-original-price{
      margin: 8px 0px;
      div{
        display: inline-block;
      }
      .item-price{
        float:right;
        width: 112px;
      }
      .item-length{
        font-weight: bold;
        font-size: 15px;
      }
      .item-length-discount{
        font-weight: bold;
        font-size: 14.5px;
      }
    }
  }

  .order-subtotal {
    padding: 3% 2%;
    border-top: 1px solid #dedede;
  }

  .summary-after:after {
    content: ":";
    position: absolute;
    left: 43%;
  }

  .prodPrice.cart
  { 
    div{
      display: inline-block;
      span.percentOff {
        margin-left: 20px;
        color: green;
        font-weight: bold;
      }
    }
    .val.discountedPrice {
      margin-right: 3px;    
    }   
    .val.originalPrice {
      color: grey;
    }
  }

  &--open {
    right: 0;
  }

  &__close-btn {
    width: 50px;
    height: 50px;
    color: #ececec;
    background-color: #1b1a20;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: -50px;
    cursor: pointer;

    &:hover {
      background-color: #212027;
    }
  }

  .bag {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background-image: url('../../static/bag-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--float-cart-closed {
      position: absolute;
      background-color: blue;
      background-size: 50%;
      left: -60px;
      width: 60px;
      height: 60px;
      cursor: pointer;

      .bag__quantity {
        top: 11px;
        right: 10px;
      }
    }

    &__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #0c0b10;
      font-weight: bold;
      font-size: 0.7em;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background-color: #eabf00;
      position: absolute;
      bottom: -5px;
      right: 0px;
    }
  }

  &__header {
    color: #ececec;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;

    .header-title {
      font-weight: bold;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  &__shelf-container {
    min-height: 280px;
    padding-bottom: 50px;
    width: 68%;
    display: inline-block;

    .shelf-empty {
      color: #4a4a4a;
      text-align: center;
      line-height: 40px;
    }

    .shelf-item {
      position: relative;
      box-sizing: border-box;
      margin: 5%;
      padding: 2%;
      background: #fff;
      transition: background-color 0.2s, opacity 0.2s;
      box-shadow: 3px 3px 5px 1px #ccc;
      border: 2px solid #ddd;

      &--mouseover {
        background: #d3d3d3;
        .shelf-item__details {
          .title,
          .desc {
            text-decoration: line-through;
            opacity: 0.6;
          }
        }

        .shelf-item__price {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }

      &__del {
        top: 42px;
        right: 5%;
        border-radius: 50%;
        position: absolute;
        background-size: auto 100%;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          background-position-x: -17px;
        }
      }

      &__thumb,
      &__details,
      &__price {
        display: inline-block;
        vertical-align: middle;
      }

      &__thumb {
        vertical-align: middle;
        width: 15%;

        img {
          width: 40%;
          height: auto;
          min-height: 62px;
        }
      }
      &__details {
        width: 40%;
        vertical-align: top;

        .title {
          color: grey;
          font-weight: bold;
          margin: 0;
          line-height: 30px;
        }

        .desc {
          color: #5b5a5e;
          margin: 0;
        }
      }
      &__price {
        color: #000;
        text-align: right;
        width: 25%;
        font-weight: bold;
      }
      .change-product-button {
        color: #000000;
        border: 0;
        width: 25px;
        height: 25px;
        border: 1px solid #b7b7b7;
        border-radius: 12px;
        margin: 10px;
        
        &:disabled {
          opacity: .2;
        }
      }
    }
  }
  .summary-header {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    padding: 3% 2%;
}

  &__footer-container{
    padding: 1% 2%;
  }
  &__footer {
    box-sizing: border-box;
    bottom: 0;
    width: 30%;
    height: 170px;
    z-index: 2;
    top: 50px;
    position: absolute;
    right: 30px;
    background-color: #fff;
    display: inline-block;
    box-shadow: 3px 3px 5px 1px #ccc;
    margin: 0px 25px;
    border: 2px solid #ddd;

    .sub,
    .sub-price {
      color: #000;
      font-weight:bold;
      vertical-align: middle;
      display: inline-block;
    }

    .sub {
      width: 20%;
    }

    .sub-price {
      width: 80%;

      &__val,
      &__installment {
        margin: 0;
      }

      &__val {
        color: #000;
        font-size: 20px;
        width: 112px;
        float: right;
      }
    }

    .buy-btn {
      color: #ececec;
      text-transform: uppercase;
      background-color: #0c0b10;
      text-align: center;
      padding: 15px 0;
      margin-top: 40px;
      cursor: pointer;

      transition: background-color 0.2s;

      &:hover {
        background-color: #000;
      }
    }
  }
}


/* MAC scrollbar para desktop*/
@media screen and (min-width: 640px) {
  .float-cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .float-cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10;
  }
}

.float-cart__content {
  height: 100%;
  overflow-y: scroll;
  background: #efefef;
}
